div.quiz {
  display: flex;
  flex-direction: column;
  padding: 10px 5vw;
  min-height:105vh;
}

div.form-step-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
  padding: 1rem 3rem;
  border: 2px solid black;
  border-radius: 5px;
  background-color: darkblue;
}

div.form-step-container > form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 12px;
  border: 1px black solid;
  border-radius: 5px;
  padding: 10px 10px;
  background-color: rgb(43, 43, 172);
}

input, select, button {
  background-color: rgb(83, 167, 196);
  border: none;
  border-radius: 2px;
}

input:-internal-autofill-selected {
  background-color: rgb(83, 167, 196) !important;
}

button[type= "submit"] {
  max-width: 5rem;
}
